.skills {
	// background-color: brown;
	display: flex;
	border-bottom: 1px solid;
	align-items: center;
	justify-content: center;

	.left {
		flex: 0.5;

		h1 {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: flex-end;
			padding-right: 100px;
			padding-bottom: 30px;
			font-size: 50px;
		}

		.languages {
			height: 93.5%;
			display: grid;
			grid-template-columns: 10rem 10rem; //110px 110px;
			grid-template-rows: 10rem 10rem;
			place-items: center;
			align-items: center;
			align-content: center;
			grid-gap: 15px 15px;
			justify-content: end;
			background-color: rgb(201, 170, 170);
		}

		img {
			width: 40%;
		}
	}

	.right {
		flex: 0.5;

		h1 {
			background-color: rgb(201, 170, 170);
			display: flex;
			flex-direction: rows;
			justify-content: flex-start;
			font-size: 34px;
		}

		.languages {
			display: grid;
			grid-template-columns: 10rem 10rem;
			justify-content: start;
			grid-gap: 15px;

			background-color: rgb(175, 143, 143);
		}

		img {
			width: 30%;
		}

		.ror {
			width: 70%;
			position: relative;
			bottom: 20px;
		}
	}
}
