.skills {
	background-color: brown;
	display: flex;
	border-bottom: 2px solid;
	align-items: center;
	justify-content: center;

	.left {
		flex: 0.5;
		background-color: white;
		border-right: 2px solid;
		// align-items: center;
		// justify-content: center;

		h1 {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		.languages {
			height: 93.5%;
			display: grid;
			background-color: black;
			grid-template-columns: 110px 110px 110px 110px;
			grid-template-rows: 100px 100px;
			place-items: center;
			align-content: center;
			grid-gap: 15px 15px;
			// display: flex;
			// width: 100%;
			// grid-template-areas:
			// 	"img null img null img"
			// 	"null img null img null"
			// 	"img";

			h2 {
				color: white;
			}
		}

		img {
			// display: flex;
			// flex-direction: column;
			// align-items: center;
			// justify-content: center;
			width: 20%;
		}
	}

	.right {
		flex: 0.5;
		background-color: white;

		h1 {
			display: flex;
			flex-direction: column;
			justify-items: center;
			align-items: center;
		}

		.languages {
			// margin-left: 10px;
			// height: 90%;
			// display: grid;
			// grid-template-columns: auto auto;
			// overflow-y: hidden;
			display: flex;
			flex-direction: row;
		}

		img {
			width: 20%;
		}

		.ror {
			width: 60%;
			position: relative;
			bottom: 20px;
		}
	}
}
