@import "../../global.scss";

.contact {
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 25px;

	h1 {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: underline;
		margin-bottom: 10px;
		color: white;
	}

	.form {
		display: flex;
		flex-direction: column;
		flex-direction: space-between;
		// flex-direction: center;
		// align-items: center;
		width: 20%;
		// height: 50%;

		@include mobile {
			width: 35%;
		}

		label {
			color: white;
			display: flex;
			justify-content: center;
		}

		:last-child {
			align-items: center;
		}

		.sendbutton {
			margin: auto;
			border-radius: 10px;
			width: 50%;

			// margin-left: 95px;
			text-align: center;
			// align-content: center;

			@include mobile {
				margin-left: 0;
				width: 100%;
			}
		}
	}

	p {
		color: white;
	}
}
