.contact {
	background-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 25px;

	h1 {
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: underline;
		margin-bottom: 10px;
		color: white;
	}

	.form {
		display: flex;
		flex-direction: column;
		flex-direction: space-between;
		width: 20%;
		// height: 50%;

		label {
			color: white;
			display: flex;
			justify-content: center;
		}

		.sendbutton {
			border-radius: 10px;
			width: 50%;
			margin-left: 95px;
		}
	}

	p {
		color: white;
	}
}
