@import "../../global.scss";

.aboutme {
	// background-color: orange;
	display: flex;
	border-bottom: 2px solid;

	@include mobile {
		flex-direction: column;
		align-items: center;
	}

	.picture {
		flex: 0.5;
		display: block;
		overflow: hidden;
		align-items: left;
		.me {
			width: 100%;
			height: 100%;
			overflow: hidden;
			overflow: y hidden;
			border-radius: 50%;
			display: flex;
			justify-content: center;

			img {
				height: 99%;
				position: relative;
				top: 6px;
			}
		}
	}

	.content {
		flex: 0.5;

		.text {
			justify-content: center;
			align-items: center;
			display: flex;
			flex-direction: column;
			height: 100%;
			overflow: y hidden;

			@include mobile {
				justify-content: flex-start;
			}

			h1 {
				font-size: 50px;

				@include mobile {
					font-size: 20px;
				}
			}

			h3 {
				font-size: 30px;

				@include mobile {
					font-size: 16px;
				}
			}

			.titlespin {
				color: red;
				font-size: 70px;
			}
			.titlespin:after {
				content: "";
				animation: spin 5s linear infinite;
			}
			@keyframes spin {
				0% {
					content: "Frontend";
				}
				50% {
					content: "Backend";
				}
				100% {
					content: "Fullstack";
				}
			}

			.title2 {
				font-size: 50px;
				color: red;
			}

			.summary {
				margin-top: 50px;
				width: 80%;
			}
		}
	}
}
